source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget Octokit
nuget SourceLink.Fake
nuget Paket.Core == 0.12.2

github fsharp/FAKE modules/Octokit/Octokit.fsx
